#mapValueEvolutionsList {
    column-count: 3;
    list-style: none;
}

#mapValueGiantsList {
    column-count: 3;
    list-style: none;
}

#mapValueEnemySpawnRateList {
    column-count: 3;
    list-style: none;
}

#mapValueGiantSpawnRateList {
    column-count: 3;
    list-style: none;
}

#mapValueBowSouls {
    column-count: 3;
    list-style: none;
}

#mapValueGiantSouls {
    column-count: 3;
    list-style: none;
}

#mapValueRageSouls {
    column-count: 3;
    list-style: none;
}

th.sortable::after {
    content: "  ↕";
}

th.asc::after {
    content: " ↑" !important;
}

th.des::after {
    content: " ↓" !important;
}