<html>

<head>
    <title>Idle Slayer Calculator</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HJ2E4V50Z5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-HJ2E4V50Z5');
    </script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="./static/calculator.js" defer></script>
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">-->
    <link rel="stylesheet" href="./static/css/main.css">
    <meta charset="utf-8"/>
    <link rel="icon" href="./img/favicon.png">
</head>

<body>
<h1>Random Box Spawn Rate</h1>
<label for="mapValueRandomBoxes">Select current <a href="https://idleslayer.fandom.com/wiki/Random_Box" target="_blank">Random
    Box</a> spawn upgrades:</label>
<ul id="mapValueRandomBoxes" name="mapValueRandomBoxes"></ul>
<label id="mapValueRandomBoxesTime" name="mapValueRandomBoxesTime"></label>
<br>

<h1 id="mapValues">Dimension Values</h1>
<div>
    <div style="text-align: center;">
        <button id="checkAll">Check all</button>
        <button id="unCheckAll">Uncheck all</button>
        <button id="updateTables"><b>UPDATE TABLES</b></button>
        <button id="collapseAll">Collapse all</button>
        <button id="uncollapseAll">Uncollapse all</button>
    </div>
</div>
<div id="mapValueOptionsArea">

    <button type="button" class="collapsible">Check unlocked <a
            href="https://idleslayer.fandom.com/wiki/Portals_and_Dimensions" target="_blank">Dimensions</a></button>
    <div class="content">
        <ul id="mapValueDimensions" name="mapValueDimensions"></ul>
    </div>

    <button type="button" class="collapsible">Check unlocked <a
            href="https://idleslayer.fandom.com/wiki/Enemies" target="_blank">Enemy</a> evolutions
    </button>
    <div class="content">
        <ul id="mapValueEvolutionsList" name="mapValueEvolutionsList"></ul>
    </div>

    <button type="button" class="collapsible">Check unlocked <a
            href="https://idleslayer.fandom.com/wiki/Giants" target="_blank">Giants</a> and their evolutions
    </button>
    <div class="content">
        <ul id="mapValueGiantsList" name="mapValueGiantsList"></ul>
    </div>

    <button type="button" class="collapsible">Check upgrades bought affecting <a
            href="https://idleslayer.fandom.com/wiki/Upgrades#Enemy_Spawn_Upgrades" target="_blank">Enemy spawn rate</a>
    </button>
    <div class="content">
        <ul id="mapValueEnemySpawnRateList" name="mapValueEnemySpawnRateList"></ul>
    </div>

    <button type="button" class="collapsible">Check upgrades bought affecting <a
            href="https://idleslayer.fandom.com/wiki/Upgrades#Giant_Spawn_Upgrades" target="_blank">Giant spawn rate</a>
    </button>
    <div class="content">
        <ul id="mapValueGiantSpawnRateList" name="mapValueGiantSpawnRateList"></ul>
    </div>

    <button type="button" class="collapsible">Check upgrades bought affecting <a
            href="https://idleslayer.fandom.com/wiki/Critical_Culling" target="_blank">Critical chance and Critical
        Souls multiplier</a>
    </button>
    <div class="content">
        <ul id="mapValueCritical" name="mapValueCritical"></ul>
    </div>

    <button type="button" class="collapsible">Check upgrades bought affecting <a
            href="https://idleslayer.fandom.com/wiki/Bow" target="_blank">Bow</a> Souls multiplier
    </button>
    <div class="content">
        <ul id="mapValueBowSouls" name="mapValueBowSouls"></ul>
    </div>

    <button type="button" class="collapsible">Check upgrades bought affecting <a
            href="https://idleslayer.fandom.com/wiki/Giants" target="_blank">Giant</a> Souls multiplier
    </button>
    <div class="content">
        <ul id="mapValueGiantSouls" name="mapValueGiantSouls"></ul>
    </div>

    <button type="button" class="collapsible">Check upgrades bought affecting <a
            href="https://idleslayer.fandom.com/wiki/Rage_Mode" target="_blank">Rage</a> Souls multiplier
    </button>
    <div class="content">
        <ul id="mapValueRageSouls" name="mapValueRageSouls"></ul>
    </div>

    <button type="button" class="collapsible"><a href="https://idleslayer.fandom.com/wiki/Armory"
                                                 target="_blank">Armory</a> selection
    </button>
    <div class="content">
        <label for="mapValueArmoryNames">Select current Armory items:</label>
        <ul id="mapValueArmoryNames" name="mapValueArmoryNames" style="padding-left: 50px"></ul>
        <ul id="mapValueArmoryList" name="mapValueArmoryList"></ul>
        <label for="mapValueArmoryOptions">Select current Armory options and trait, hold ctrl to multi-select or
            unselect (sorry mobile users). If you change items, you need to re-select options/levels.</label>
        <ul id="mapValueArmoryOptions" name="mapValueArmoryOptions"></ul>
        <label for="mapValueArmoryLevels">Select current Armory levels:</label>
        <ul id="mapValueArmoryLevels" name="mapValueArmoryLevels"></ul>
    </div>

    <button type="button" class="collapsible"><a href="https://idleslayer.fandom.com/wiki/Ultra_Slayer_Points"
                                                 target="_blank">USP</a>
        Allocation
    </button>
    <div class="content">
        <label for="mapValueStoneNames">Select current USP allocation:</label>
        <ul id="mapValueStoneNames" name="mapValueStoneNames" style="padding-left: 50px"></ul>
        <ul id="mapValueStoneLevels" name="mapValueStoneLevels"></ul>
    </div>

</div>
<h2>Active Play</h2>
<p>This table shows you the base Coins/Souls per second for each Dimension. This assumes that you are not boosting, and
    that you are slaying all enemies. It also does not take into consideration any boosts to your Soul or Coin
    collection.</p>
<button type="button" class="collapsible">View table</button>
<div class="content">
    <table>
        <thead>
        <tr>
            <th>Dimension</th>
            <th class="sortable">Coins</th>
            <th class="sortable">Souls</th>
        </tr>
        </thead>
        <tbody id="mapValuesResultsTableActive">
        </tbody>
    </table>
</div>

<h2>Bow</h2>
<p>This table shows you the base Coins/Souls per second for each Dimension when using bow. This assumes that you are not
    boosting, and that you are slaying all enemies. It also does not take into consideration any boosts to your Coin
    collection.</p>
<button type="button" class="collapsible">View table</button>
<div class="content">
    <table>
        <thead>
        <tr>
            <th>Dimension</th>
            <th class="sortable">Coins</th>
            <th class="sortable">Souls</th>
        </tr>
        </thead>
        <tbody id="mapValuesResultsTableBow">
        </tbody>
    </table>
</div>

<h2>Rage Mode</h2>
<p>This table shows the average Coins and Souls per second for each Dimension during Rage Mode. It also does not take
    into consideration any boosts to your Coin collection.</p>
<button type="button" class="collapsible">View table</button>
<div class="content">
    <table>
        <thead>
        <tr>
            <th>Dimension</th>
            <th class="sortable">Coins</th>
            <th class="sortable">Souls</th>
        </tr>
        </thead>
        <tbody id="mapValuesResultsTableRage">
        </tbody>
    </table>
</div>


<!--<h1 id="randomBoxCalc">Random Box Bonus Odds</h1>-->
<!--<p>For details on the bonuses, visit <a href="https://idleslayer.fandom.com/wiki/Random_Box">the wiki</a>.</p>-->
<!--<div id="randomBoxOptionsArea"></div>-->
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Name</th>-->
<!--        <th>Chance</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody id="randomBoxResultsTable">-->
<!--    </tbody>-->
<!--</table>-->
<!--<hr/>-->
<!--<br>-->
</body>
</html>