<html>

<head>
    <title>Idle Slayer Calculator</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="../static/calculator.js" defer></script>
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">-->
    <link rel="stylesheet" href="../static/css/main.css">
    <meta charset="utf-8"/>
    <link rel="icon" href="../static/favicon.png"/>
</head>

<body>
<h1 id="mapValues">Dimension Values</h1>
<div style="text-align: center;">
    <button id="checkAll">Check all</button>
    <button id="unCheckAll">Uncheck all</button>
    <button id="toggleNotation"
            onClick="var t = this; t.disabled = true; setTimeout(function() {t.disabled = false;},1000);">Toggle
        Notation
    </button>
    <button id="collapseAll">Collapse all</button>
    <button id="uncollapseAll">Uncollapse all</button>
</div>
<div id="mapValueOptionsArea">

    <button type="button" class="collapsible">Check unlocked <a
            href="https://idleslayer.fandom.com/wiki/Portals_and_Dimensions" target="_blank">Dimensions</a></button>
    <div class="content">
        <ul id="mapValueDimensions" name="mapValueDimensions"></ul>
    </div>

    <button type="button" class="collapsible">Check unlocked <a
            href="https://idleslayer.fandom.com/wiki/Enemies" target="_blank">Enemy</a> evolutions
    </button>
    <div class="content">
        <ul id="mapValueEvolutionsList" name="mapValueEvolutionsList"></ul>
    </div>

    <button type="button" class="collapsible">Check unlocked <a
            href="https://idleslayer.fandom.com/wiki/Giants" target="_blank">Giants</a> and their evolutions
    </button>
    <div class="content">
        <ul id="mapValueGiantsList" name="mapValueGiantsList"></ul>
    </div>

    <button type="button" class="collapsible">Check upgrades bought affecting <a
            href="https://idleslayer.fandom.com/wiki/Upgrades#Enemy_Spawn_Upgrades" target="_blank">Enemy spawn rate</a>
    </button>
    <div class="content">
        <ul id="mapValueEnemySpawnRateList" name="mapValueEnemySpawnRateList"></ul>
    </div>

    <button type="button" class="collapsible">Check upgrades bought affecting <a
            href="https://idleslayer.fandom.com/wiki/Upgrades#Giant_Spawn_Upgrades" target="_blank">Giant spawn rate</a>
    </button>
    <div class="content">
        <ul id="mapValueGiantSpawnRateList" name="mapValueGiantSpawnRateList"></ul>
    </div>

    <button type="button" class="collapsible">Check upgrades bought affecting <a
            href="https://idleslayer.fandom.com/wiki/Critical_Culling" target="_blank">Critical chance and Critical
        Souls multiplier</a>
    </button>
    <div class="content">
        <ul id="mapValueCritical" name="mapValueCritical"></ul>
    </div>

    <button type="button" class="collapsible">Check upgrades bought affecting <a
            href="https://idleslayer.fandom.com/wiki/Boost" target="_blank">Boost</a> Souls multiplier
    </button>
    <div class="content">
        <ul id="mapValueBoostSouls" name="mapValueBoostSouls"></ul>
    </div>

    <button type="button" class="collapsible">Check upgrades bought affecting <a
            href="https://idleslayer.fandom.com/wiki/Bow" target="_blank">Bow</a> Souls multiplier
    </button>
    <div class="content">
        <ul id="mapValueBowSouls" name="mapValueBowSouls"></ul>
    </div>

    <button type="button" class="collapsible">Check upgrades bought affecting <a
            href="https://idleslayer.fandom.com/wiki/Giants" target="_blank">Giant</a> Souls multiplier
    </button>
    <div class="content">
        <ul id="mapValueGiantSouls" name="mapValueGiantSouls"></ul>
    </div>

    <button type="button" class="collapsible">Check upgrades bought affecting <a
            href="https://idleslayer.fandom.com/wiki/Rage_Mode" target="_blank">Rage</a> Souls multiplier
    </button>
    <div class="content">
        <ul id="mapValueRageSouls" name="mapValueRageSouls"></ul>
    </div>

    <button type="button" class="collapsible"><a href="https://idleslayer.fandom.com/wiki/Armory"
                                                 target="_blank">Armory</a> selection
    </button>
    <div class="content">
        <label for="mapValueArmoryNames">Select current Armory items:</label>
        <ul id="mapValueArmoryNames" name="mapValueArmoryNames" style="padding-left: 50px"></ul>
        <ul id="mapValueArmoryList" name="mapValueArmoryList"></ul>
        <label for="mapValueArmoryOptions">Select current Armory options and trait.
            <br>
            <i>For PC, hold ctrl to multi-select or unselect options; if you change items, you need to re-select
                options/levels.</i></label>
        <ul id="mapValueArmoryOptions" name="mapValueArmoryOptions"></ul>
        <label for="mapValueArmoryLevels">Select current Armory levels:</label>
        <ul id="mapValueArmoryLevels" name="mapValueArmoryLevels"></ul>
    </div>

    <button type="button" class="collapsible"><a href="https://idleslayer.fandom.com/wiki/Ultra_Slayer_Points"
                                                 target="_blank">USP</a> allocation
    </button>
    <div class="content">
        <label for="mapValueStoneNames">Select current USP allocation:</label>
        <ul id="mapValueStoneNames" name="mapValueStoneNames" style="padding-left: 50px"></ul>
        <ul id="mapValueStoneLevels" name="mapValueStoneLevels"></ul>
        <label id="mapValueUSPAllocation" name="mapValueUSPAllocation"></label>
    </div>
</div>
<br>
<div style="text-align: center;">
    <button id="updateTables" style="width:100%"><b>UPDATE TABLES</b></button>
</div>
<h2>Active Play</h2>
<p>This table shows you the base Coins/Souls per second for each Dimension. This assumes that you are slaying all
    enemies. It also does not take into consideration any boosts to your Soul or Coin collection.</p>
<button type="button" class="collapsible">View table</button>
<div class="content">
    <table>
        <thead>
        <tr>
            <th>Dimension</th>
            <th class="sortable">Coins</th>
            <th class="sortable">Souls</th>
        </tr>
        </thead>
        <tbody id="mapValuesResultsTableActive">
        </tbody>
    </table>
</div>

<h2>Bow</h2>
<p>This table shows you the base Coins/Souls per second for each Dimension when using bow. This assumes that you are
    slaying all enemies. It also does not take into consideration any boosts to your Coin collection. Giants are assumed
    to be killed with Sword and instantly when encountered.</p>
<p id="mapValueCurrentBowSouls" name="mapValueCurrentBowSouls"></p>
<button type="button" class="collapsible">View table</button>
<div class="content">
    <table>
        <thead>
        <tr>
            <th>Dimension</th>
            <th class="sortable">Coins</th>
            <th class="sortable">Souls</th>
        </tr>
        </thead>
        <tbody id="mapValuesResultsTableBow">
        </tbody>
    </table>
</div>

<h2>Rage Mode</h2>
<p>This table shows the average Coins and Souls per second for each Dimension during Rage Mode. It also does not take
    into consideration any boosts to your Coin collection.</p>
<p id="mapValueCurrentRageSouls" name="mapValueCurrentRageSouls"></p>
<button type="button" class="collapsible">View table</button>
<div class="content">
    <table>
        <thead>
        <tr>
            <th>Dimension</th>
            <th class="sortable">Coins</th>
            <th class="sortable">Souls</th>
        </tr>
        </thead>
        <tbody id="mapValuesResultsTableRage">
        </tbody>
    </table>
</div>
<br>
<h1 id="randomBoxSpawnRate">Random Box Spawn Rate</h1>
<label for="randomBoxSpawn">Select current <a href="https://idleslayer.fandom.com/wiki/Random_Box" target="_blank">Random
    Box</a> spawn upgrades:</label>
<ul id="randomBoxSpawn" name="randomBoxSpawn"></ul>
<label id="randomBoxTime" name="randomBoxTime"></label>
<br>
<br>
<h1 id="randomBoxCalc">Random Box Bonus Odds</h1>
<label>Select <a href="https://idleslayer.fandom.com/wiki/Random_Box#Related_Purchases" target="_blank">Random Box</a>
    Event modifiers:</label>
<ul id="randomBoxOptionsArea"></ul>
<button type="button" class="collapsible">View Table</button>
<div class="content">
    <table>
        <thead>
        <tr>
            <th><br><a href="https://idleslayer.fandom.com/wiki/Random_Box#Random_Events" target="_blank">Event</a></th>
            <th style="text-align: center"><br>Chance</th>
            <th style="text-align: center">Average number of <br>Random Boxes until Event</th>
        </tr>
        </thead>
        <tbody id="randomBoxResultsTable">
        </tbody>
    </table>
</div>

</body>
</html>